{{#contentType type}}
    {{#each Contents.Content}}
        <li>
            <img src="{{Thumb}}">
            <a href="./program-list.html?id={{ContentID}}">
                <h3 class="overflow">{{Name}}</h3>
                <h4>每天：{{ScheduleTimes}}</h4>
            </a>
        </li>
    {{/each}}
{{else}}
    {{#each Contents.Content}}
        <li>
            <a href="special.html?id={{ContentID}}&type={{ContentType}}"><img src="{{Thumb}}" width="100%" height="80"></a>
            <h3 class="overflow">{{Name}}</h3>
        </li>
    {{/each}}
{{/contentType}}