{{#each this}}
    <div class="list-wrapper">
        <ul class="list">
            {{#each Contents.Content}}
                <li>
                    <a href="./channel.html?id={{ContentID}}{{#isVideo Name}}&mode=Video{{/isVideo}}&type={{ContentType}}&PhysicalContentID={{Channel.PhysicalChannels.PhysicalChannel.[0]
                    .PhysicalContentID}}">
                        <h3 class="title overflow">{{Name}}</h3>
                        <p class="overflow">{{Channel.NowPlay.ProgramName}}</p>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/each}}