<div id="body-special">
    <div class="summary">
        <img src="{{Content.Poster}}" width="360" height="200">
        <div class="txt">简介：{{Content.Summary}}</div>
    </div>
    <div class="box">
        <h2>
            <span>专辑内容</span>
        </h2>
        <ul class="list">
            {{#contentType Content.ContentType}}
                {{#each Content.Program.Movies.Movie}}
                    <li>
                        {{#contentType ContentType}}
                            <a href="program.html?id={{ContentID}}"><img src="{{Poster}}" height="80" width="100%"></a>
                        {{else}}
                            <a href="special.html?id={{ContentID}}"><img src="{{Poster}}" height="80" width="100%"></a>
                        {{/contentType}}
                        <h3>{{Name}}</h3>
                        <h4>{{Summary}}</h4>
                    </li>
                {{/each}}
            {{else}}
                {{#each Content.Series.Programs.Program}}
                    <li>
                        <a href="program.html?id={{ContentID}}&type=Program"><img src="{{Poster}}" height="80" width="100%"></a>
                        <h3>{{Name}}</h3>
                        <h4>{{Summary}}</h4>
                    </li>
                {{/each}}
            {{/contentType}}
        </ul>
    </div>
</div>
