{{#each this}}
    {{#if @first}}
        <li class="active" data-date="{{date}}"><a href="#">{{name}}</a></li>
    {{else}}
        <li data-date="{{date}}"><a href="#" title="">{{name}}</a></li>
    {{/if}}
{{/each}}